# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
CMakeFiles/*
build/*
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt
build/daemon_socket_example
build/bin/archivertest
build/bin/capitalize
build/bin/condense
build/bin/filterkey
CMakeLists.txt
build/bin/filterkeydom
build/bin/jsonx
build/bin/lookaheadparser
build/bin/messagereader
build/bin/parsebyparts
build/bin/pretty
.gitignore
build/bin/prettyauto
build/bin/schemavalidator
build/bin/serialize
build/bin/simplepullreader
build/bin/simpledom
build/bin/simplereader
build/bin/simplewriter
build/bin/sortkeys
build/bin/tutorial
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.1/CMakeSystem.cmake
build/CMakeFiles/3.25.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
.gitignore
build/CMakeFiles/build.dir/build.make
build/CMakeFiles/build.dir/cmake_clean.cmake
build/CMakeFiles/build.dir/compiler_depend.make
build/CMakeFiles/build.dir/compiler_depend.ts
build/CMakeFiles/build.dir/DependInfo.cmake
build/CMakeFiles/build.dir/progress.make
build/CMakeFiles/cleanBuild.dir/build.make
build/CMakeFiles/cleanBuild.dir/cmake_clean.cmake
.gitignore
build/CMakeFiles/cleanBuild.dir/compiler_depend.make
build/CMakeFiles/cleanBuild.dir/compiler_depend.ts
Makefile
build/CMakeFiles/cleanBuild.dir/DependInfo.cmake
build/CMakeFiles/cleanBuild.dir/progress.make
build/CMakeFiles/daemon_socket_example.dir/build.make
build/CMakeFiles/daemon_socket_example.dir/cmake_clean.cmake
build/CMakeFiles/daemon_socket_example.dir/compiler_depend.make
build/CMakeFiles/daemon_socket_example.dir/compiler_depend.ts
build/CMakeFiles/daemon_socket_example.dir/depend.make
.gitignore
build/CMakeFiles/daemon_socket_example.dir/DependInfo.cmake
build/CMakeFiles/daemon_socket_example.dir/flags.make
build/CMakeFiles/daemon_socket_example.dir/link.txt
build/CMakeFiles/daemon_socket_example.dir/progress.make
build/CMakeFiles/ninja_build.dir/cmake_clean.cmake
build/CMakeFiles/ninja_build.dir/build.make
build/CMakeFiles/ninja_build.dir/compiler_depend.make
build/CMakeFiles/ninja_build.dir/compiler_depend.ts
